.aside_nav_container{
    display: block;
    text-align: center;
}
.home{
    display: block;   
    margin: 1rem 1rem 1rem 3rem;  
    font-size: 3rem;
    text-align: start;

}
.btn_genre{
    display: block;
    width: 10rem;
    margin: 0.5rem 1rem 1rem 4rem;
    border-radius: 3px;
    border: none;
    font-size: 1.4rem;
    background-color: rgba(50,50,50,1);
    color: white;
}