* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


@media screen and (min-width: 360px) {
    .main_grid>a {
        width: 90%;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 1rem;
        background-color: rgba(14,14,14,0.9);
        color:white;
        text-decoration: none;
        font-family: Turret;
        position: relative;
        bottom: 0px;
        right: 0px;
        transition: all 0.2s ease-out;
    }

    .main_full>a {
        width: 90%;
        min-width: 25rem;
        border: 2px solid black;
        border-radius: 1rem;
        margin: 1rem;
        background-color: rgba(14,14,14,0.9);
        color:white;
        text-decoration: none;
        position: relative;
        bottom: 0px;
        right: 0px;
        transition: all 0.2s ease-out;
    }

    .game_title {
        font-size: 1.6rem;
        font-weight: 700;
        text-align: start;
        margin: 0.5rem 1rem;       
    }
    
    .rating {
        font-size: 1.3rem;
        font-weight: 500;
        font-style: italic;
        text-align: end;
        margin: 0.5rem 1rem 0 0;
    }
}

@media screen and (min-width: 640px) {
    .main_grid>a {
        width: 45%;
    }

    .main_full>a {
        width: 90%;
    }
    
}

@media screen and (min-width: 768px) {
    .main_grid>a {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .main_grid>a {
        width: 30%;
    }

    .main_full>a {
        width: 50%;
    }
    .game_title {
        font-size: 2rem;       
    }
    
    .rating {
        font-size: 1.5rem;   
    }   
}

.background_image{
    width: 100%;
    height: 60%; 
    overflow: hidden;    
}

.image_full{
    width: 100%;
    height: 70%; 
    overflow: hidden;   
}

.background_image img {
    width: 100%;
    height: 100%;
    border-radius: 2rem 1rem 0 0;
    object-fit: cover;
}

.card_grid{
    width: 100%;
    height: 35rem;
}

.card_full{
    width: 100%;
    height: 40rem;
}

.platforms {
    text-align: end;
    margin: 0.5rem 0.5rem 0 1rem;
}

.platforms>svg {
    margin-right: 0.5rem;
    width: 1.4rem;
    height: auto;
}

.main_grid>a:hover, .main_full>a:hover {
    color: white;
    text-decoration: none;
    box-shadow: 6px 6px 4px white;
    transition: all 0.2s ease-in;
    bottom: 5px;    
    right: 5px;
    position: relative;
}
