.App {
  text-align: center;
}

.main_page_wraper{
  display: grid;
  grid-template-areas: "header"
                        "main";
}

/* Header Media Query */
@media screen and (min-width: 360px) {
  .hamburger-wrapper{
    display: inline-block;
    width: 15%;
  }

  .App-header {   
    grid-area: header;
    background-color: #282c34;
    height: 10rem;
    display: grid;
    grid-template-columns: 15% 85%;   
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .header_container{
    width: 100%;
    display: inline-block;    
  }

  .header_container >div{
    padding-top: 1.5rem;
    font-size: 1.6rem;
  }  
.search_form{
    width: 100%;
    padding: 0 1rem;
    font-size: 1.3rem;
}
.search_bar{
  width: 60%;
  border-radius: 0.5rem;
  margin: 1rem 2rem 1rem 0rem;
}

.search_btn {
  width: auto;
  border-radius: 0.5rem;
  height: auto;
  padding: 0 2rem;
  background-color: gray;
}

}

@media screen and (min-width: 640px) {

.App-header {   
    height: 11rem;
  }
  
.search_form{    
    font-size: 1.6rem;
}

.header_container >div{
  font-size: 2rem;
} 
  
}

@media screen and (min-width: 1200px) {
  .App-header {   
    grid-area: header;
    background-color: #282c34;
    height: 13rem;
    display: flex;
   /*  flex-direction: column; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .search_form{    
    font-size: 1.8rem;
}

.header_container >div{
  font-size: 2.5rem;
} 
  
  .hamburger-wrapper{
    display: none;
  }

  .header_container{
    width: 100%;
    display: inline-block;
  }

}



/* Main media Query */

@media screen and (min-width: 360px) {
  main{
    grid-area: main;
    display: grid;
    grid-template-areas: "title title title title title title title title"
                         "cards cards cards cards cards cards cards cards"
                         "cards cards cards cards cards cards cards cards";
    justify-items: stretch;
   }    
}

@media screen and (min-width: 640px) {
  
}

@media screen and (min-width: 1200px){
  main{
    grid-area: main;
    display: grid;
    grid-template-areas: "aside title title title title title title title"
                         "aside cards cards cards cards cards cards cards"
                         "aside cards cards cards cards cards cards cards";
    justify-items: stretch;
   }

}

@media screen and (min-width: 360px) {  
        .aside_nav{
          grid-area: aside;  
          width: 20rem;
          background-color: gray;
          margin-right: 0rem;
          margin-top: 0rem;
          display: none; 
      }   
}

@media screen and (min-width:640px) {
  .aside_nav{    
    grid-area: aside;  
    width: 20rem;
    background-color: gray;
    margin-right: 0rem;
    margin-top: 0rem;
    display: none; 
} 
}

@media screen and (min-width: 1200px) { 
      .aside_nav{         
          grid-area: aside;  
          width: 20rem;
          background-color: gray;
          margin-right: 0rem;
          margin-top: 0rem;
          display: block; 
      } 
}



.main_card{
  grid-area: cards;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;  
}

